@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Bellota Text", cursive;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

.section-heading {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c8266;
  text-align:center;
  font-family: "Monoton", cursive;
  opacity: 0.7;
  text-shadow: 2rem 2rem 4rem rgb(160, 155, 155);
}
/* End of Common Styles */

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #6d6d59;
  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
}

.navbar {
  position: relative;
  z-index: 20;
  top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-link {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #1f2507;
  width: 1.5rem;
  text-align: center;
}

.navbar-link:hover {
  width: 10rem;
  background-color: #292e16;
  transition: all 0.5s;
  color: #eee;
  text-decoration: underline;
  border-radius: 5px;
}

.section-1-heading {
  font-size: 8rem;
  font-family: "Monoton", cursive;
  position: absolute;
  top: 18vw;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0.3rem 0.3rem 0.3rem rgb(185, 31, 31);
  color: #6e7062;
  background-color: #414e44;
  width: 45rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  opacity: 1;
}

.logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  text-align:center ;
}

.logo  {
  font-size: 15rem;
  color: rgba(50, 231, 255, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem rgb(102, 85, 85), -0.1rem -0.1rem 0.2rem rgb(66, 53, 53);
}






/* Responsive*/

/* Responsive */
@media (max-width: 1400px) {
 
   img{
     height: 750;
   }
 
  .section-1-heading {
    font-size: 6rem;
    top: 25vw;
    width: 70rem;
  }

  .navbar-link {
    font-size: 2rem;
  }

  .logo {
    top: 55%;
  }

  .logo i {
    font-size: 10rem;
  }

  .section-heading {
    font-size: 8rem;
    margin-bottom: 10rem;
  }


  

@media (max-width: 1150px) {
  
  .section-1-heading {
    font-size: 4rem;
    top: 30vw;
    width: 55rem;
  }

  img{
    height: auto;
  }

  .logo  {
    font-size: 8rem;
  }
}

@media (max-width: 950px) {
  

  .section-1-heading {
    top: 35vw;
  }

  img{
    height: 400;
  }

  .navbar {
    justify-content: space-around;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 50%;
  }

  img{
    height: 250px;
    float: left;
  }
 
  .section-1-heading {
    top: 45vw;
  }

  .section-heading {
    margin-bottom: 5rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 45%;
  }

 img{
   height: auto;
 }

  .section-1-heading {
    top: 65vw;
    width: 42rem;
    font-size: 3.5rem;
  }

  .section-heading {
    font-size: 6rem;
  }
  
}



}